/* 
====== 
Fonts
======
*/

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@font-face {
  font-family: Bicillesta;
  src: url('./assets/Bicillesta.ttf');
}

/* 
====== 
Variables 
======
*/

:root {
  /* ----------color---------- */

  --primaryColor: #003764;
  --primaryDarkColor: #000e1a;
  --SecondaryColor: #045e8b;
  --mainBackground: transparent
    linear-gradient(180deg, #e9f6ff 0%, #e8f2fc 43%, #d5acca 100%) 0% 0%
    no-repeat padding-box;
  --BackGroundOverlay: #e9f6ff;
  --mainBlack: #000000;
  --mainGrey: #e8f2fc;
  --darkGrey: #dbe7ff;
  --offWhite: #ffffff;

  /* ----------Fonts---------- */

  --primaryFont: 'Gabriela';
  --SecondaryFont: 'Raleway';
  --mainFont: 'Bicillesta';

  /* ----------Animation---------- */

  --mainTransition: all 0.3s linear;

  /* ----------spacing---------- */

  --headerSpacing: 1.44px;
  --mainBackgroundSpacing: 1.2px;
  --headingSpacing: 2px;

  /* ----------FontSize---------- */

  --mainHeading: 9.6rem;
  --SecondHeading: 3.2rem;
  --ThirdHeading: 2.6rem;
  --paragraphc: 1.8rem;
  --caption: 1.4rem;

  /* ----------Shadows---------- */

  --lightShadow: 1px 1px 10px rgba(0, 23, 79, 0.377);
  --darkShadow: 2px 4px 16px rgba(0, 23, 79, 0.795);

  /* ----------Radius---------- */

  --mainBorderRadius: 0.25rem;
  --mainbtnRadius: 26px;

  /* ----------Max Width---------- */

  --maxWidth: 1080px;

  /* ----------minimum Width---------- */

  --smallWidth: 760px;

  /* ----------Fullwidth---------- */

  --fullWidth: 1200px;
}
/* 
====== 
Global Styles 
======
*/

* {
  font-size: 55.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primaryFont);
  color: var(--mainBlack);
  background: transparent
    linear-gradient(180deg, #e9f6ff 0%, #e8f2fc 45%, #ffe8e8 100%) 0% 0%
    no-repeat padding-box;
  line-height: 1.4;

  font-weight: 300;
}
h1 {
  font-family: var(--mainFont);
  color: var(--primaryDarkColor);
  font-size: var(--mainHeading);
  letter-spacing: var(--mainBackgroundSpacing);
  font-weight: 200;
}
h2 {
  font-family: var(--primaryFont);
  font-size: var(--SecondHeading);
  font-weight: 500;
  letter-spacing: var(--mainBackgroundSpacing);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
h3 {
  font-family: var(--SecondaryFont);
  font-size: var(--ThirdHeading);
  letter-spacing: var(--headingSpacing);
  font-weight: lighter;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  letter-spacing: var(--mainSpacing);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
label {
  font-family: var(--SecondaryFont);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
p {
  font-size: var(--paragraphc);
  margin-bottom: 0.2rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primaryDarkColor);
}
img {
  width: 100%;
  display: block;
}
.loading {
  height: 100vh;
  overflow: hidden;
}
/* 
====== 
SplashScreen Styles 
======
*/

.SplashScreenDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SplashScreenDiv img {
  width: 20rem;
}
.small {
  margin-left: -16rem;
  animation: splashSmall 5s ease-in-out forwards;
}
.big {
  animation: splashBig 5s ease-in-out forwards;
}

@keyframes splashBig {
  0% {
    -webkit-transform: translate(-800px, -800px) rotate(90deg);
    transform: translate(-800px, -800px) rotate(90deg);
    opacity: 0.7;
  }

  40% {
    -webkit-transform: translate(0px, -150px) rotate(-90deg);
    transform: translate(0px, -150px) rotate(-90deg);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: translate(-100px, -120px) rotate(0deg);
    transform: translate(-100px, -120px) rotate(0deg);
    opacity: 0.7;
  }
  70% {
    -webkit-transform: translate(-50px, -50px) rotate(-90deg);
    transform: translate(-50px, -50px) rotate(-90deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(-30px, -30px) rotate(-30deg);
    transform: translate(-30px, -30px) rotate(-30deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
}

@keyframes splashSmall {
  0% {
    -webkit-transform: translate(800px, -480px) rotate(-180deg);
    transform: translate(800px, -480px) rotate(-180deg);
    opacity: 0.7;
  }

  40% {
    -webkit-transform: translate(20px, -250px) rotate(0deg);
    transform: translate(20px, -250px) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: translate(220px, -170px) rotate(-40deg);
    transform: translate(220px, -170px) rotate(-40deg);
    opacity: 0.7;
  }
  70% {
    -webkit-transform: translate(30px, -70px) rotate(10deg);
    transform: translate(30px, -70px) rotate(10deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(60px, -30px) rotate(-30deg);
    transform: translate(60px, -30px) rotate(-30deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
}

/* 
====== 
Local Styles 
======
*/
.header {
  display: flex;
  align-items: center;
  height: 15vh;
}
.logo {
  flex: 0.5;
  margin-left: 15rem;

  justify-content: center;
}
.logoContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.logoContainer img {
  width: 12rem;
}
.NavBar-Nav {
  flex: 0.5;
  display: flex;
}
.NavBar-Nav ul {
  display: flex;
  list-style-type: none;
  color: var(--primaryColor);
}

.none {
  position: relative;
  justify-content: center;
  text-transform: capitalize;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin: 2rem;
  font-size: 2.2rem;
  padding: 1.3rem 2.5rem;
  letter-spacing: var(--headerSpacing);
}
.none::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  height: 0.6rem;
  width: 100%;
  border-radius: 0.4rem;
  background-color: var(--primaryColor);
  transform-origin: center top;
  transform: scale(0, 1);
  transition: var(--mainTransition);
}
.none:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
.activeNavlink::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  height: 0.6rem;
  width: 100%;
  border-radius: 2px;
  background-color: var(--primaryColor);
  transform-origin: center top;
  transform: scale(1, 1);
}

.bgContainer {
  z-index: 5;
  height: 88vh;
  display: flex;
  justify-content: center;
}
.title-container {
  margin-left: 12rem;
  align-self: center;
  flex: 0.43;
  z-index: 2;
}
.title {
  align-items: center;
  justify-content: center;
}
.reserveText {
  position: absolute;
  right: 0px;
  text-transform: uppercase;
  font-size: 1.6rem;
  transform: rotate(90deg);
  margin-top: 12rem;
  margin-right: -4rem;
}

.bgImage {
  flex: 0.5;
  z-index: 4;
  display: grid;
  place-items: center;
}
.bgImage img {
  width: 65rem;
}

.socialIcons {
  position: absolute;
  right: 0;
  margin-right: 12rem;
  z-index: 99;
}
.socialIcons img {
  margin: 0.8rem;
  padding: 0.6rem;
  max-width: 6rem;
  min-width: 3rem;
  transition: var(--mainTransition);
}
.socialIcons a :hover {
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.281));
  transform: scale3d(1.2, 1.2, 1.2);
}
/* 
---------------
i Frame Contact Form
--------------- 
*/
.backdropiFrame {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0rem;
  left: 0rem;
  z-index: 99999;
}
.iframeContactForm {
  border: 0.1rem outset var(--primaryColor);
  box-shadow: 0px 0px 6rem var(--mainBlack);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 30%;
  border-radius: 1rem;
  background: var(--offWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iframeContactForm span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 4.4rem;
}
.iframeContactForm h3 {
  text-align: center;
  width: 80%;
  color: var(--primaryDarkColor);
  font-size: 3.6rem;
}
.iframeNone {
  display: none;
}

/* 
---------------
SideBar
--------------- 
*/

.sideBarContainer {
  display: none;
}
.SideBarlogo {
  display: none;
}

/* 
---------------
BUTTON
--------------- 
*/

.btn {
  border: 0;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: var(--offWhite);
  display: flex;
  font-weight: bold;
  font-family: var(--SecondaryFont);
  margin-top: 2rem;
  padding: 2rem 4.2rem;
  border-radius: 4rem;
  align-items: center;
  transition: var(--mainTransition);
  background: var(--primaryColor);
  float: right;
  cursor: pointer;
}
.btn span {
  transition: var(--mainTransition);
  width: 2.4rem;
  margin-left: 2rem;
}
.btn:hover span {
  animation: transent 0.6s cubic-bezier(0.56, 0.74, 0.8, 1.33) forwards;
}
.btn:active span {
  animation: Shoot 0.3s cubic-bezier(0.56, 0.74, 0.8, 1.33) forwards;
}

.btn:hover {
  filter: drop-shadow(3px 3px 6px var(--primaryDarkColor));
  transform: scale3d(1.01, 1.01, 1.01);
}

/*
---------------
  SCROLL DOWN
---------------
 */
.mainBody {
  overflow: hidden;
}
.scrollsug {
  opacity: 0;
}
.show-scrollsug {
  opacity: 1;
}
.scrollDiv {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.flexTDiv {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
  transition: var(--mainTransition);
  animation: colorfilling 2s linear infinite;
}
.flexCdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexCdiv span {
  margin-top: -8px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0);
}
/* HOME PAGE CSS */

.bodyContainer {
  margin: 20rem auto;
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0rem;
  row-gap: 30rem;
}

.singleBodyDiv {
  display: flex;
  flex-direction: column;
  height: 110%;
  width: 70%;
  background: transparent linear-gradient(180deg, #7aedee 0%, #ffdfbb 100%);
  border-radius: 0px 0px 3rem 3rem;
  position: relative;
}
.singleBodyDiv:hover img {
  animation: trans 2s ease-in-out infinite;
}
@keyframes trans {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-6%) scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: translateY(0%);
  }
}

.imageBody {
  margin-top: -20rem;
  align-self: center;
  height: 35rem;
  width: 35rem;
  object-fit: contain;
}
.textHolder {
  padding: 4rem;
  text-align: center;
}

.textHolder h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  line-height: 3rem;
}
.textHolder h3 {
  line-height: 3.4rem;
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
}

.linkSBtn {
  align-self: flex-end;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.secondarybtn {
  display: flex;
  border: none;
  text-decoration: underline;
  background: transparent;
  transition: var(--mainTransition);
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primaryDarkColor);
  font-weight: bold;
  font-family: var(--SecondaryFont);

  cursor: pointer;
}
.imageSpan {
  width: 2.4rem;
  height: 2.4rem;
}
.secondarybtn span {
  width: 2.4rem;
  margin-left: 3rem;
}
.secondarybtn:hover span {
  animation: ReadySteady 0.3s linear infinite;
}
.secondarybtn:focus span {
  animation: Shoot 0.3s cubic-bezier(0.56, 0.74, 0.8, 1.33) forwards;
}

.secondarybtn:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.65));
  transform: scale3d(1.01, 1.01, 1.01);
}

@keyframes transent {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(180%);
    opacity: 0;
  }
  40% {
    transform: translateX(-700%);
    opacity: 0;
  }
  50% {
    transform: translateX(-700%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ReadySteady {
  from {
    transform: rotateX(0deg);
    transform: rotate3d();
    opacity: 1;
  }
  to {
    transform: rotateX(180deg);
    opacity: 1;
  }
}
@keyframes Shoot {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(380%);
    opacity: 0;
  }
}
.main-bodySpace {
  display: none;
}

/* Form CSs */

.contact {
  width: 100vw;
  background: center/contain no-repeat url('./assets/bglighter.svg'),
    center/contain no-repeat url('./assets/ContactFormBG@2x.jpg');

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contactForm {
  border-radius: 1rem;
  background: rgba(11, 0, 61, 0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 4, 63, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px outset rgba(255, 255, 255, 0.287);
  flex: 0.36;
  margin-bottom: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.contactForm hr {
  width: 98%;
}
.contactForm h2 {
  letter-spacing: 0rem;
  align-self: center;
  margin: 2rem auto;
  color: var(--offWhite);
}
.inputsGroup {
  display: flex;
  flex-direction: column;
  margin: 2.7rem 5rem;
  position: relative;
}

.inputsGroup input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  font-size: 2.6rem;
  background-color: #e8f2fc81;
  font-weight: 300;
  border: none;
  padding: 1.4rem;
  border-radius: 00.8rem;
  font-family: var(--SecondaryFont);
}
.inputsGroup textarea {
  resize: none;
}
.inputsGroup input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 23, 79, 0.795);
}
.textBox {
  color: #f5f8ff;
  font-size: 2.4rem;
}
.inputsGroup label {
  font-size: 2.4rem;
  color: var(--offWhite);
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  transition: var(--mainTransition);
  cursor: text;
  visibility: hidden;
}
.textBox:focus ~ label,
.textBox:not(:placeholder-shown).textBox:not(:focus) ~ label {
  top: -1.6rem;
  visibility: visible;
  left: 1.5rem;
  font-size: 1.4rem;
}
::placeholder {
  color: var(--offWhite);
}
.textBox:focus::placeholder {
  opacity: 0;
}
.inputsCheck label {
  font-size: 3.2rem;
  color: var(--offWhite);
  margin: 5rem;
}
.checkboxButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: -2rem;
  margin-left: 5rem;
  margin-top: 1rem;
}
.flexwrap input[type='checkbox'] {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  width: 4rem;
  height: 2.2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  transition: var(--mainTransition);
  cursor: pointer;
}
.flexwrap input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--offWhite);
  transition: var(--mainTransition);
  z-index: 2;
}
.flexwrap input[type='checkbox']:checked {
  border-color: var(--primaryDarkColor);
}
.flexwrap input[type='checkbox']:checked::before {
  transform: translateX(100%);
  background: var(--primaryDarkColor);
}
.flexwrap {
  margin: 0.6rem;
}
.flexwrap label {
  font-size: 2.2rem;
  margin-left: 2rem;
  cursor: pointer;
}
.flexwrap input[type='checkbox']:checked ~ label {
  font-weight: 900;
  color: var(--primaryDarkColor);
}

.formBtn {
  font-size: medium;
  font-family: var(--SecondHeading);
  width: 30%;
  padding: 1.3rem;
  border: 1px solid grey;
  background-color: var(--SecondaryColor);
  color: var(--offWhite);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 3.2rem;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.imageSection {
  max-width: 32rem;
  justify-content: center;
  flex: 0.5;
}

.imageSection img {
  align-self: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.287);
}

.bottomSectionFooter {
  width: 100%;
  height: 40rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactDiv {
  display: flex;
  align-items: center;
  margin: 2rem;
  background: rgb(202, 221, 255);
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 1rem;
}
.contactDiv img {
  background: var(--primaryColor);
  border-radius: 0.8rem;
  padding: 1rem;
  width: 5.5rem;
  margin-right: 3rem;
}
.contactDiv span {
  font-size: 2.6rem;
  font-family: var(--SecondaryFont);
  font-weight: 600;
  color: var(--primaryDarkColor);
}
.footerLogoSection {
  width: 34rem;
  height: 34rem;
  background: #ffd4ea;
  filter: drop-shadow(2px 4px 22px rgba(44, 0, 26, 0.4));
  display: grid;
  place-items: center;
  padding: 4rem 4rem;
  border-radius: 50%;
}

.footerLogoSection img {
  width: 24rem;
}

.logocontainers {
  display: flex;
  margin-left: 4rem;
}
.logocontainers img {
  max-height: 5.8rem;
  min-width: 2.6rem;
}
.logocontainers a {
  margin: 1.5rem;
  transition: var(--mainTransition);
}
.logocontainers a:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  filter: drop-shadow(2px 2px 6px grey);
}

/* GALEERY CSS */

.gallerySection {
  background: top right 8rem / contain url('./assets/penBG@2x.png'),
    top left 8rem url('./assets/webdevBG.svg');
  background-size: 40rem 48rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}
.galleryText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryText h3 {
  text-align: center;
  width: 60%;
}
.galleryContainers {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  column-gap: 3rem;
  row-gap: 2rem;
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.6));
}
.galleryItems {
  transition: var(--mainTransition);
  cursor: pointer;
  text-align: center;
  position: relative;
}

.galleryItems:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  filter: drop-shadow(4px 8px 14px rgba(0, 0, 0, 0.6));
}
.galleryItems:active {
  transform: scale3d(1, 1, 1);
}
.galleryImageHolder {
  text-align: center;
}

.galleryImage {
  width: 38rem;
  height: 26rem;
  object-fit: cover;
  border-radius: 0.3rem;
  object-position: center;
}

.galleryTitle {
  width: 38rem;
  height: 26rem;
  top: 0;
  border-radius: 0.3rem;
  position: absolute;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.7) 80%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.galleryTitle label {
  width: 90%;
  text-transform: uppercase;
  color: var(--offWhite);
  margin-bottom: 2rem;
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;
}

.projectDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabdata {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 5rem;
  filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.6));
}
.imgContainers {
  transition: var(--mainTransition);

  cursor: pointer;
  position: relative;
}
.imgContainers:hover {
  filter: drop-shadow(6px 9px 12px rgba(0, 0, 0, 0.6));
}
.imgContainers:active {
  filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.6));
}

.imgGridDiv img {
  width: 70rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 1rem;
  object-position: center;
}
.titleGridDiv {
  width: 70rem;
  height: 40rem;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.titleGridDiv:hover {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 00%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.6) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.titleGridDiv:hover h3 {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.6rem;
}
.titleGridDiv h3 {
  transition: var(--mainTransition);
  opacity: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--mainGrey);
  align-self: flex-end;
  margin-bottom: 16rem;
}
.NotFoundPage {
  height: 85vh;
}
.space {
  margin-top: 16.5rem;
  width: 100%;
  text-align: center;
}

/* Pagination */

.pagination {
  margin: 4rem;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-item {
  margin: 2rem;
}
.pagebutton {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border: none;
  background: var(--SecondaryColor);
  font-family: var(--SecondaryFont);
  font-size: 3.4rem;
  color: var(--offWhite);
  border-radius: 50%;
  filter: drop-shadow(2px 2px 6px var(--SecondaryColor));
  display: grid;
  place-items: center;
  transition: var(--mainTransition);
}
.pagebutton:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.pagebutton img {
  width: 2.5rem;
  height: 2rem;
}

/* ABOUTUS CSS */
.aboutUsSection {
  overflow: hidden;
  width: 100%;
  background: top right 8rem / cover url('./assets/penBG@2x.png'),
    top left 8rem / cover url('./assets/webdevBG.svg');
  background-size: 40rem 48rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutusDiv {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  background: rgba(74, 144, 226, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.301);
}
.aboutusDiv h1 {
  margin: 1rem auto;
}
.aboutusDiv p {
  margin: 6rem;
  text-align: center;
  font-size: 3rem;
  width: 88%;
}
.quotation {
  width: 80%;
  margin: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quotation h2 {
  width: 60%;
  border-left: 1rem solid var(--primaryColor);
  padding-left: 4rem;
  margin-bottom: 2rem;
}

.quotation h3 {
  margin-top: 2rem;
  align-self: center;
  width: 70%;
  text-align: center;
}

/* 
===========
scroll button
=========== 
*/

.scroll-btn {
  position: fixed;
  border-radius: 50%;
  right: 3rem;
  bottom: 3rem;
  background: var(--offWhite);
  border: none;
  z-index: -100;
  opacity: 0;
  transition: var(--mainTransition);
  font-size: 2rem;
  line-height: 0;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  box-shadow: var(--darkShadow);
}
.show-scroll-btn {
  z-index: 100;
  opacity: 1;
}
.scroll-btn:hover {
  box-shadow: var(--darkShadow);
  transform: scale3d(1.1, 1.1, 1.1);
}
.scroll-btn img {
  width: 6rem;
  padding: 0.5rem;
}

.back {
  z-index: 1000;
  width: 12rem;
  height: 9rem;
  top: 20rem;
  left: 16.5rem;
  border-radius: 1.5rem;
  position: absolute;
  color: #ffffff;
  font-size: 6rem;
  background: rgba(97, 172, 168, 0.527);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px outset rgba(163, 163, 163, 0.287);
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: 0 2px 12px 0 rgba(65, 65, 65, 0.287);
  display: grid;
}
.back img {
  width: 5.5rem;
  margin-right: 0.5rem;
  place-self: center;
  opacity: 0.8;
}
.back:hover {
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.637);
  transform: scale3d(1.02, 1.02, 1.02);
}
.back:active {
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0);
  transform: scale3d(1, 1, 1);
}

.singleGallerySection {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.S-G-Image-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90vw;
  height: 95vh;
}
.ab {
  width: 90vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ab img {
  width: 90vw;
  height: 95vh;
  object-fit: cover;
  object-position: center;
  align-self: center;
  border-radius: 2rem;
}
.projectTitle {
  width: 90vw;
  height: 95vh;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 00%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(0, 0, 0, 0.383) 85%,
    rgba(0, 0, 0, 0.664) 100%
  );
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
.projectTitle h3 {
  font-size: 6.6rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  align-self: flex-start;
  left: 6rem;
  bottom: 2rem;
  position: absolute;
}
.divwrap {
  flex-direction: row-reverse;
}
.articlesSingle {
  margin: 8rem;
  display: flex;
  width: 80%;
  align-items: center;
  justify-items: center;
}
.divSingleGallerytext {
  flex: 0.5;
  margin: 0rem 4rem;
}
.divSingleGallerytext h2 {
  font-size: 5.6rem;
}
.divSingleGallerytext p {
  font-size: 2.6rem;
}
.divSingleGalleryimg {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divSingleGalleryimg img {
  width: 40%;
}
.largecarsel {
  width: 80%;
}
.outsideCarosel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.insideCarosel {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.insideCarosel img {
  object-fit: cover;
}

.slick-prev,
.slick-next {
  font-size: 0rem;
  width: 5%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.205);
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  color: rgb(202, 202, 202);
  outline: none;
  background: rgba(195, 195, 195, 0.52);
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
.smallcarsel {
  width: 100%;
  height: 50%;
}
.outsideScarosel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15rem 0rem;
}
.relatedprojectTitle {
  align-self: flex-start;
}
.relatedprojectTitle h2 {
  font-size: 4.4rem;
  font-weight: 600;
  color: var(--primaryDarkColor);
  margin-left: 10rem;
}
.smallCinside {
  margin: 8rem auto;
  height: 44rem;
  width: 34rem;
  padding: 2rem;
}
.smallCinside img {
  height: 44rem;
  width: 34rem;
  object-fit: cover;
  border-radius: 2rem;
}
.linkC {
  transition: var(--mainTransition);
}
.linkC:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  filter: drop-shadow(2px 6px 12px rgba(0, 0, 0, 0.609));
}
.smallcaroseltitle {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 00%,
    rgba(0, 0, 0, 0.267) 70%,
    rgba(0, 0, 0, 0.712) 85%,
    rgba(0, 0, 0, 0.959) 100%
  );
  position: absolute;
  height: 44rem;
  width: 34rem;
  z-index: 4;
  bottom: 10%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.smallcaroseltitle h4 {
  font-size: 3rem;
  font-weight: 100;
  align-self: center;
  position: absolute;
  bottom: 0;
  letter-spacing: 0.2rem;
  color: var(--offWhite);
  margin-bottom: 1rem;
}

.error-page section {
  width: 80%;
  height: 90vh;
  display: grid;
  place-content: center;
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24rem;
}
.error-container div {
  margin-top: 8rem;
}
@keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }
  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
  }
}
@-webkit-keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }
  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
  }
}

.waterfall div {
  -webkit-animation: waterfall 1.6s infinite;
  animation: waterfall 1.6s infinite;
  background-color: var(--primaryColor);
  height: 30px;
  left: 50%;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
}
.waterfall div:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  margin-left: -10px;
}
.waterfall div:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  margin-left: 20px;
}
.waterfall div:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  margin-left: -40px;
}
.waterfall div:nth-of-type(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-left: 45px;
}
.waterfall div:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
  margin-bottom: 0rem;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
    height: 8;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.TapBg {
  transform: translate(0% 100%);
}
.first {
  animation: first 1s linear infinite;
}
.second {
  animation: second 1s linear infinite;
}
.third {
  animation: third 1s linear infinite;
}
.fourth {
  animation: fourth 1s linear infinite;
}

@keyframes colorfilling {
  0% {
    color: #61ffdd;
  }
  20% {
    color: #00d4f5;
  }
  40% {
    color: #487aee;
  }
  60% {
    color: #001d61;
  }
  80% {
    color: #487aee;
  }
  100% {
    color: #00d4f5;
  }
}

@keyframes first {
  0% {
    border-top: 20px solid #61ffdd;
  }
  33% {
    border-top: 20px solid #3363d4;
  }
  66% {
    border-top: 20px solid #0841c5;
  }
  100% {
    border-top: 20px solid #001d61;
  }
}
@keyframes second {
  0% {
    border-top: 20px solid #001d61;
  }
  33% {
    border-top: 20px solid #61ffdd;
  }
  66% {
    border-top: 20px solid #3363d4;
  }
  100% {
    border-top: 20px solid #0841c5;
  }
}
@keyframes third {
  0% {
    border-top: 20px solid #0841c5;
  }
  33% {
    border-top: 20px solid #001d61;
  }
  66% {
    border-top: 20px solid #61ffdd;
  }
  100% {
    border-top: 20px solid #3363d4;
  }
}
@keyframes fourth {
  0% {
    border-top: 20px solid #3363d4;
  }
  33% {
    border-top: 20px solid #0841c5;
  }
  66% {
    border-top: 20px solid #001d61;
  }
  100% {
    border-top: 20px solid #61ffdd;
  }
}

@media all and (max-width: 1800px) {
  html {
    font-size: 44%;
  }
}
@media all and (max-width: 1430px) {
  html {
    font-size: 40%;
  }
}
@media all and (max-width: 1180px) {
  html {
    font-size: 36%;
  }
  .main-bodySpace {
    height: 5vh;
    width: 100%;
  }

  .logo {
    margin-left: 6rem;
  }
  .bgContainer {
    flex-direction: column-reverse;
  }
  .bgImage {
    width: 100%;
  }
  .bgImage img {
    width: 65rem;
    margin: auto;
  }
  .title-container {
    width: 80vw;
  }
  .bodyContainer {
    margin-top: 20rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 5rem;
  }
  .contact {
    height: 90%;
    justify-content: space-around;
  }
  .contactForm {
    height: 100rem;

    flex: 0.5;
  }
  .contactForm h2 {
    font-size: 4rem;
  }
  .inputsGroup {
    margin: 4rem 5rem;
  }

  .inputsGroup input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    font-size: 3rem;
  }

  .checkboxButtons {
    margin-bottom: 15rem;
  }
  .flexwrap label {
    font-size: 3rem;
  }
  .flexwrap input[type='checkbox'] {
    width: 6rem;
    height: 3.6rem;
  }
  .flexwrap input[type='checkbox']::before {
    width: 3rem;
    height: 3rem;
  }

  .bottomSectionFooter {
    flex-direction: row;
    margin-bottom: 25rem;
    height: 30vh;
  }
  .footerLogoSection {
    display: none;
  }
  .logoContainersDiv {
    margin-top: 5rem;
  }
  .header {
    display: none;
  }
  .socialSide {
    display: none;
  }
  .SideBarlogo {
    z-index: 1001;
    display: flex;
    width: 90%;
    height: 20rem;
    align-items: center;
    margin: 4rem;
  }
  .positionAbsolute {
    position: absolute;
  }
  .positionFixed {
    position: fixed;
  }

  .logoLink {
    flex: 0.9;
    z-index: 1001;
  }
  .logoLink img {
    width: 12rem;
    z-index: 1001;
  }
  .toggleBtnC {
    flex: 0.1;
    border: 0px;
    background: transparent;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .HamDiv {
    width: 6rem;
    height: 1.1rem;
    border-radius: 4px;
    background: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .HamOne {
    transform: translateY(160%) rotate(45deg);
  }
  .HamTwo {
    transform: translateX(-1000%);
    opacity: 0;
  }
  .HamThree {
    transform: translateY(-160%) rotate(-45deg);
  }
  .galleryContainers {
    grid-template-columns: 1fr 1fr;
  }
  .tabdata {
    grid-template-columns: 1fr;
  }
  .gallerySection {
    height: 90vh;
  }
  .back {
    top: 25rem;
    left: 6rem;
    z-index: 998;
  }
  .S-G-Image-Container {
    width: 92vw;
    height: 80vh;
  }
  .ab img {
    width: 92vw;
    height: 80vh;
  }
  .projectTitle {
    width: 92vw;
    height: 80vh;
  }
  .articlesSingle {
    flex-direction: column;
    width: 90%;
  }

  .largecarsel {
    width: 100%;
  }
  .insideCarosel {
    height: 50vh;
  }
  .insideCarosel img {
    object-fit: cover;
  }
  .bodySpace {
    height: 10vh;
    width: 100%;
  }
  .aboutusDiv {
    width: 90vw;
  }
  .aboutusDiv p {
    margin: 1rem;
    font-size: 3.4rem;
  }
  .quotation h2 {
    width: 100%;
  }
  .quotation h3 {
    width: 90%;
  }
  .nav {
    margin-top: 5rem;
  }

  .NotFoundPage {
    height: 80vh;
  }

  /* 
---------------
SideBar
--------------- 
*/

  .sideBarContainer {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0rem;
    left: 0px;
    transition: var(--mainTransition);
    transform: translateX(200%);
    background: var(--mainBackground);
    z-index: -2;
    display: flex;
    flex-direction: column;
  }

  .showsideBar {
    visibility: visible;
    transform: translate(0%);
    z-index: 999;
  }

  .SlidBar-Nav {
    margin: 8rem;
    display: flex;
    flex-direction: column;
  }
  .SlidBar-Nav li {
    margin-top: 28rem;
    margin: 2.5rem 0rem;
  }
  .SideBar-NavLink {
    width: 100rem;
    padding: 1rem 0rem;
    padding-right: 0rem;
    font-size: 4.6rem;
    transition: var(--mainTransition);
  }
  .SideBar-NavLink:hover {
    border-left: 3px solid var(--primaryColor);
    padding-left: 2rem;
  }
  .SideBaractiveNavlink {
    border-left: 3px solid var(--primaryColor);
    padding-left: 2rem;
    background-color: var(--darkGrey);
    padding-right: 40rem;
  }
  .SideBar-SocialIcons {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: fixed;
    bottom: 2rem;
  }
  .SideBar-SocialIconsContainer {
    display: flex;
  }
  .SideBar-SocialIconsContainer a {
    width: 8rem;
    margin: 3rem;
    transition: var(--mainTransition);
  }
  .SideBar-SocialIconsContainer a:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    filter: drop-shadow(2px 4px 2rem rgba(0, 0, 0, 0.596));
  }
  .SideBar-reserveText {
    text-align: center;
    font-size: 2.8rem;
    position: relative;
  }
}
@media only screen and (min-width: 414px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 26%;
  }
  .SplashScreenDiv img {
    width: 12rem;
  }
  .small {
    margin-left: -10rem;
  }
  .btn {
    font-size: 3.6rem;
    padding: 1rem 3rem;
  }
  .bgContainer {
    flex-direction: column-reverse;
  }
  .bgImage {
    width: 100%;
  }
  .bgImage img {
    width: 35rem;
    margin: auto;
  }
  .title-container {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 85vw;
  }
  .bodyContainer {
    grid-template-columns: 1fr;
    margin: 20rem auto;
  }
  .singleBodyDiv {
    width: 90%;
  }
  .textHolder h2 {
    line-height: 1.9rem;
  }
  .textHolder h3 {
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
  }
  .imageSpan {
    width: 1.4rem;
    height: 1.4rem;
  }
  .contact {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .contactForm {
    width: 98%;
  }
  .contactForm h2 {
    font-size: 4rem;
  }
  .inputsGroup {
    margin: 2rem 3rem;
  }

  .inputsGroup input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    font-size: 3rem;
  }
  .inputsCheck {
    margin: 2rem;
  }
  .inputsCheck label {
    font-size: 3.5rem;
    margin: 0.5rem;
  }
  .checkboxButtons {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .flexwrap {
    display: flex;
    align-items: center;
  }
  .flexwrap label {
    margin-left: 1rem;
    font-size: 3rem;
  }
  .flexwrap input[type='checkbox'] {
    width: 4rem;
    height: 2rem;
  }
  .flexwrap input[type='checkbox']::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .galleryText {
    margin-top: 8rem;
  }
  .bottomSectionFooter {
    flex-direction: column;
    margin-bottom: 25rem;
    height: 30vh;
  }
  .footerLogoSection {
    display: none;
  }
  .logoContainersDiv {
    margin-top: 5rem;
  }
  .header {
    display: none;
  }
  .socialSide {
    display: none;
  }
  .logo {
    margin-left: 6rem;
  }
  .SideBarlogo {
    z-index: 1001;
    display: flex;
    width: 90%;
    height: 10vh;
    align-items: center;
    margin: 2rem;
  }
  .positionAbsolute {
    position: absolute;
  }
  .positionFixed {
    position: fixed;
  }

  .logoLink {
    flex: 0.9;
    z-index: 1001;
  }
  .logoLink img {
    width: 6rem;
    z-index: 1001;
  }
  .toggleBtnC {
    flex: 0.1;
    border: 0px;
    background: transparent;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .HamDiv {
    width: 4rem;
    height: 0.7rem;
    border-radius: 4px;
    background: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .HamOne {
    transform: translateY(140%) rotate(45deg);
  }
  .HamTwo {
    transform: translateX(-1000%);
    opacity: 0;
  }
  .HamThree {
    transform: translateY(-140%) rotate(-45deg);
  }
  .galleryContainers {
    grid-template-columns: 1fr 1fr;
  }
  .tabdata {
    grid-template-columns: 1fr;
  }
  .imgGridDiv img {
    width: 100%;
    height: 20rem;
  }
  .titleGridDiv {
    width: 100%;
    height: 20rem;
  }
  .back {
    top: 12.5rem;
    left: 1.5rem;
    width: 6rem;
    height: 4.5rem;
    z-index: 998;
  }
  .back img {
    width: 2.5rem;
  }
  .S-G-Image-Container {
    margin-top: 0;
    width: 100vw;
  }
  .ab img {
    width: 100vw;
    border-radius: 0rem;
  }
  .projectTitle {
    width: 100vw;
    border-radius: 0rem;
  }
  .articlesSingle {
    flex-direction: column;
    width: 90%;
  }
  .divSingleGallerytext {
    margin: 5rem auto;
  }
  .largecarsel {
    width: 100%;
  }
  .insideCarosel {
    height: 50vh;
  }
  .insideCarosel img {
    object-fit: cover;
  }

  /* 
---------------
SideBar
--------------- 
*/

  .sideBarContainer {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0rem;
    left: 0px;
    transition: var(--mainTransition);
    transform: translateX(200%);
    background: var(--mainBackground);
    z-index: -2;
    display: flex;
    flex-direction: column;
  }

  .showsideBar {
    visibility: visible;
    transform: translate(0%);
    z-index: 999;
  }

  .SlidBar-Nav {
    margin: 5rem;
  }

  .SideBar-NavLink {
    font-size: 3.6rem;
  }

  .SideBar-SocialIcons {
    bottom: 10rem;
  }

  .SideBar-SocialIconsContainer a {
    width: 4rem;
    margin: 1rem;
  }
}
@media all and (max-width: 375px) {
  html {
    font-size: 22%;
  }
  .logo {
    margin-left: 6rem;
  }
  .bgContainer {
    flex-direction: column-reverse;
  }
  .bgImage {
    width: 100%;
  }
  .bgImage img {
    width: 75rem;
    margin: auto;
  }
  .title-container {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 85vw;
  }
  .bodyContainer {
    grid-template-columns: 1fr;
    margin: 12rem;
  }
  .contact {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .contactForm {
    height: 100rem;
    width: 90%;
    flex: 0.7;
  }
  .contactForm h2 {
    font-size: 4rem;
  }
  .inputsGroup {
    margin: 4rem 5rem;
  }

  .inputsGroup input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    font-size: 3rem;
  }

  .checkboxButtons {
    margin-bottom: 15rem;
  }
  .flexwrap label {
    font-size: 2rem;
  }
  .flexwrap input[type='checkbox'] {
    width: 6rem;
    height: 3.6rem;
  }
  .flexwrap input[type='checkbox']::before {
    width: 3rem;
    height: 3rem;
  }

  .bottomSectionFooter {
    flex-direction: column;
    margin-bottom: 25rem;
    height: 30vh;
  }
  .footerLogoSection {
    display: none;
  }
  .logoContainersDiv {
    margin-top: 5rem;
  }
  .header {
    display: none;
  }
  .socialSide {
    display: none;
  }
  .SideBarlogo {
    z-index: 1001;
    display: flex;
    width: 90%;
    height: 20rem;
    align-items: center;
    margin: 4rem;
  }
  .positionAbsolute {
    position: absolute;
  }
  .positionFixed {
    position: fixed;
  }

  .logoLink {
    flex: 0.9;
    z-index: 1001;
  }
  .logoLink img {
    width: 12rem;
    z-index: 1001;
  }
  .toggleBtnC {
    flex: 0.1;
    border: 0px;
    background: transparent;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .HamDiv {
    width: 6rem;
    height: 1.1rem;
    border-radius: 4px;
    background: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .HamOne {
    transform: translateY(170%) rotate(45deg);
  }
  .HamTwo {
    transform: translateX(-1000%);
    opacity: 0;
  }
  .HamThree {
    transform: translateY(-160%) rotate(-45deg);
  }
  .galleryContainers {
    grid-template-columns: 1fr 1fr;
  }
  .tabdata {
    grid-template-columns: 1fr;
  }
  .back {
    top: 25rem;
    left: 6rem;
    z-index: 998;
  }
  .S-G-Image-Container {
    width: 100vw;
  }
  .ab img {
    width: 100vw;
  }
  .projectTitle {
    width: 100%;
  }
  .articlesSingle {
    flex-direction: column;
    width: 90%;
  }
  .divSingleGallerytext {
    margin: 5rem auto;
  }
  .largecarsel {
    width: 100%;
  }
  .insideCarosel {
    height: 50vh;
  }
  .insideCarosel img {
    object-fit: cover;
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
